{% extends "public/base.html" %}

{% block title %}
Text Utils - About Us
{% endblock %}


{% block content %}

<div class="card">
  <div class="card-header">
    About Text Utils
  </div>
  <div class="card-body">
    <p class="card-text">In Text Uitls website you can check your custome string.</p>
    <p class="card-text">You can captilize your text.</p>
    <p class="card-text">You can get number of charachters.</p>
    <p class="card-text">You can remove punchtuation from string.</p>
    <p class="card-text">You can remove line from your line break string.</p>
    <a href="/" class="btn btn-primary">Go To Home</a>
  </div>
</div>
		
{% endblock %}